.cart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 5%;
  min-height: 600px; /* Set the initial height to 100% */
  flex-grow: 1; /* Allow the container to grow */
  flex-shrink: 0; /* Prevent the container from shrinking */
}

.cart-layout {
  display: flex;
  align-items: flex-start;
}

.cart-items {
  width: 60%;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-price {
  font-weight: bold;
}

.cart-summary {
  width: 35%; /* Adjust width of the summary container */
  background: #fff; /* Background color */
  padding: 20px; /* Padding around the content */
  border-radius: 8px; /* Add border-radius for rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box-shadow for depth */
  margin-top: 20px; /* Add some top margin for separation */
  margin-left: 5%; /* Add left margin */
  margin-right: 20px;
}


.summary-total {
  font-size: 1.2em;
  font-weight: bold;
}



.checkout-button {
  width: 100%; /* Make the button full width */
  padding: 10px; /* Add padding to the button */
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px; /* Add border-radius for rounded corners */
  transition: background-color 0.3s; /* Add transition for hover effect */
}

.checkout-button:hover {
  background-color: #333; /* Darken the background color on hover */
}
.summary-detail {
  margin-bottom: 10px; /* Add margin-bottom for spacing between details */
}

.cart-container h2{
  margin-top: 10px;
}

/* Checkout Form */

/* General Layout */
.checkout-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Form and Summary Sections */
.form-section, .summary-section {
  width: 48%;
}

/* Input Styling */
.input-field {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button Styling */
.save-button {
  background-color: #C8102E; /* Adjust the color to match your theme */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.save-button:hover {
  background-color: #9a0721;
}

/* Delivery Options */
.delivery-options {
  display: flex;
  margin-bottom: 20px;
}

.delivery-option {
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}


/* Summary Section */
.summary-item {
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.cart-item-image-container {
  margin-right: 20px;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cart-item-details {
  flex: 1;
}

.cart-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-item-category {
  margin-top: 5px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 0 5px;
}

.cart-item-price {
  min-width: 100px;
  text-align: right;
}
.cart-item-image {
  width: 150px; /* Increase the width of the image */
  height: 150px; /* Increase the height of the image */
  object-fit: contain; /* Adjust the object-fit property as needed */
  margin-right: 20px;
  border-radius: 10px;
}

