/* Navigation Styles */
.navigation-container {
  background-color: #C8102E;
  padding: 10px 20px;
}

.navigation-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav-pills .nav-item {
  margin-bottom: 0;
}

.main-store-logo {
  max-width: 100px;
  height: auto;
}

/* Avatar Placeholder */
.avatar-placeholder {
  width: 35px; /* Size for the avatar placeholder */
  height: 35px;
  background-color: #F1BE48; /* Placeholder color */
  color: #ffffff; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px; /* Adjusted for a smaller appearance */
  border-radius: 50%;
  text-transform: uppercase;
  font-family: 'Arial', sans-serif; /* Simple font for better readability */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.avatar-placeholder:hover {
  background-color: #e09f32; /* Darker shade for hover effect */
  cursor: pointer;
}
